<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Contact" colSpan="2"></Label>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>

  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf007;"></Label>

  <Label class="page__content-placeholder" text="<!-- Page content-->"></Label>
  <Button text="Profile"
          style="background-color:#CCC;color:blue"
          [class.-selected]="isComponentSelected('/profile')"
          (tap)="onNavItemTap('/profile')"
  ></Button>
</GridLayout>

