<ActionBar class="action-bar">
  <NavigationButton visibility="hidden"></NavigationButton>
  <GridLayout columns="50, *">
    <Label class="action-bar-title" text="Home" colSpan="2"></Label>
    <Label class="fas" text="&#xf0c9;" (tap)="onDrawerButtonTap()"></Label>
  </GridLayout>
</ActionBar>

<GridLayout class="page__content">
  <Label class="page__content-icon fas" text="&#xf015;"></Label>
  <Label class="page__content-placeholder" text="Estos son los enlaces de esta App"></Label>
  <Listview class="list-group" [items]="this.enlaces.buscar()"
            [class.-selected]="isComponentSelected('/item')"
            (tap)="onNavItemTap('/item')"
            style="height:1250px">
    <ng-template let-item="item">
      <FlexboxLayout flexDirection="row" class="list-group-item" >
        <Label [text] ="item" class="list-group-item-heading"
               verticalAlignment="center"  style="width:60%"  ></Label>
      </FlexboxLayout>
    </ng-template>
  </Listview>

</GridLayout>

